<!-- Two -->
<section id="two">
	<div class="inner">
		{% for post in site.posts %}
			{% capture modulo %}{{ forloop.index0 | modulo:2 }}{% endcapture %}	
			<article {% if modulo == '0' %}
				class="alt"
			{% endif %}
			><div class="content">
				<header>
					<a href="{{ site.baseurl }}{{ post.url }}"><h3>{{ post.title }}</h3></a>
				</header>
				<div class="image fit">
					<img src="{{ site.baseurl }}/{{ post.image_path }}" alt="" />
				</div>
				<p>{{ post.content }}</p>
			</div>
			</article>
		{% endfor %}
	</div>
</section>
