<!-- Scripts -->
<script src="{{ site.baseurl }}/bower_components/introspect/assets/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/bower_components/introspect/assets/js/skel.min.js"></script>
<script src="{{ site.baseurl }}/bower_components/introspect/assets/js/util.js"></script>
<script src="{{ site.baseurl }}/bower_components/introspect/assets/js/main.js"></script>